%h1 Restaurant
= @restaurant.name
= @restaurant.description
= @restaurant.street

%br/
= link_to 'Menu', restaurant_menu_path(@restaurant, @restaurant.id)

- if flash[:notice]
  .notice= flash[:notice]
