%h2 #{@restaurant.name}
%p Address: #{@restaurant.street}
%p About us: #{@restaurant.description}

%br/
= link_to 'Menu', restaurant_menu_path(@restaurant, @restaurant.id)

- if flash[:notice]
  .notice= flash[:notice]
